@page "/apply"

@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<PageTitle>Galaxy | Apply</PageTitle>

<div class="container mb-4">
	<h1 class="text-center">Application</h1>
</div>

<EditForm style="max-width:800px; text-align:center; margin: 0 auto;" autocomplete="off" Model="@application" OnValidSubmit="@( async () => HandleValidSubmit())">
	<DataAnnotationsValidator />

	<InputWrapper Label="What is your character's name?"
				  Name="entry.899352371"
				  Id="characterName"
				  @bind-Value="application.CharacterName"
				  ValidationFor="@(() => application.CharacterName)" />

	<InputWrapper Label="What is your Discord name? (Ex: Smith#1234 - please remember they're case sensitive).  One of our FC leads will connect with you to chat more about the process"
				  Name="entry.2020113030"
				  Id="discordName"
				  @bind-Value="application.DiscordName"
				  ValidationFor="@(() => application.DiscordName)" />


	<InputWrapper Label="What is your current age?"
				  Name="entry.2022831907"
				  @bind-Value="application.Age"
				  Id="age"
				  ValidationFor="@(() => application.Age)" />

	<InputWrapper Label="What times do you typically play XIV? (please include your timezone as well)"
				  Name="entry.909410848"
				  @bind-Value="application.Time"
				  Id="time"
				  ValidationFor="@(() => application.Time)" />

	<InputWrapper Label="What are you looking for in an FC and/or do you have any expectations of us?"
				  Name="entry.646597952"
				  Id="expectations"
				  @bind-Value="application.Expectations"
				  ValidationFor="@(() => application.Expectations)" />

	<InputWrapper Label="Our FC has members from all walks of life, backgrounds, and lifestyles. Being accepting of others is incredibly important to our team. Would you have any issues being a member of a diverse group like ours?"
				  Name="entry.1631887260"
				  Id="acceptance"
				  @bind-Value="application.Acceptance"
				  ValidationFor="@(() => application.Acceptance)" />

	<InputWrapper Label=@("We would like your opinion on this to see how you feel as well! - We are currently not looking for players who are pessimistic, \"Debbie Downers\" or the \"woe is me\" type. We all just want to enjoy our time online and have fun without having anyone bring down the mood by constant negativity or complaining.")
				  Name="entry.1165999765"
				  Id="opinion"
				  @bind-Value="application.Opinion"
				  ValidationFor="@(() => application.Opinion)" />

	<button type="submit" class="btn btn-primary m-3">Submit</button>
</EditForm>

@code {
	private Application application = new();

	private async void HandleValidSubmit()
	{
		using (HttpClient client = new HttpClient())
		{
			var resp = await client.GetAsync("https://docs.google.com/forms/u/0/d/e/1FAIpQLSdqTaS2POuZhEUcTAlIPrN7z9UgRuKyVrYjb1vi2Y1QiEU7CQ/formResponse"
			+ "?entry.899352371=" + application.CharacterName
			+ "&entry.2020113030=" + application.DiscordName
			+ "&entry.2022831907=" + application.Age
			+ "&entry.909410848=" + application.Time
			+ "&entry.646597952=" + application.Expectations
			+ "&entry.1631887260=" + application.Acceptance
			+ "&entry.1165999765=" + application.Opinion);
		};

		await JsRuntime.InvokeAsync<object>(
			"alert",
			"Thank you for your submission!"
		);

		NavManager.NavigateTo("/");
	}
}
